<!doctype html>  
<html>  
  <head>
    <meta charset="utf-8">
    <title>Hola Mundo!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <link rel="stylesheet" type="text/css" href="css/app.css">
  </head>
  <body ng-app="starter">
  	<input ng-model="haber"></input>
    <h1>HOLA {{haber}}</h1>
    <div class="content-image">
      <img class="image-center" ng-src={{imagen1}}>
      <img class="image-center" ng-src="images/primera.png">
      <video name="video1" autoplay controls>
        <source type="video/mp4" ng-src="videos/primera.mp4">
      </video>
      <video name="video2" autoplay controls>
        <source type="video/mp4" ng-src="{{video1}}">
      </video>
    </div>
  </body>
</html>  